<div class="container container-fluid col-md-4 col-md-offset-4">
  <form class="" ng-submit="procesar()">
    <h2 class="text-center">Post method</h2>
    <label>write your name</label>
    <input class="col-md-4 form-control" type="text" ng-model="data.nombre" required>
    <br>
    <label>write your age</label>
    <input class="form-control" type="number" ng-model="data.edad" required>
    <br>
    <button class="btn btn-info" type="submit">Send</button>
    <a ui-sref="index" class="btn btn-info">menu</a>
  </form>
  <br>
  <br>
  <div>{{respuesta}}</div>
</div>